<div>
  <%= form_tag products_path, method: :get do %>
  <ul class="category">
        <% @categories.each do |category| %>
        <li>
          <%= check_box_tag "filter[]", category.id, params[:filter] ? params[:filter].include?(category.id.to_s) : false, id: "cb#{category.id}", remote: true %>

          <label for="cb<%= category.id %>"><%= category.name %></label>

          <b class=''><%= category.products.count %></b>
        </li>
        <% end %>
      </ul>

    <div class="price">
      <p><b>Price:</b></p>

      <%= text_field_tag :min_price, nil, class: 'price-form form-control', placeholder: 'Min' %>

      <br>

      <%= text_field_tag :max_price, nil, class: 'price-form form-control', placeholder: 'Max' %>

      <hr>

      <%= submit_tag 'Find', class: 'btn btn-success' %>
  <% end %>
  </div>
</div>
