<article class="product">
  <div class="order">
    <div class="head-order card">
      <div class="post-head">
        <%= link_to (image_tag product.pictures[0].url(:thumb) if product.pictures.present?), product_path(product) %>
        <h2><%= sanitize link_to product.title, product_path(product) %></h2>
        <h2><%= number_to_currency( product.price, precision: 0 ) %></h2>
        <%= product.result %>
        <h5><%= sanitize(product.description.truncate(20, separator: '</p>')) %></h5>
  </div>

      <%= form_for @order_item do |f| %>
        <% if product.published %>
          <div class="input-group">
            <%= f.number_field :quantity, value: 1, class: "form-control form_cart", min: 1 %>
            <div class="input-group-btn">
              <%= f.hidden_field :product_id,class: "form_cart", value: product.id %>
              <%= f.submit "Add to Cart", class: "btn btn-primary btn_cart", data: { confirm: "Are you sure?" } %>
            </div>
          </div>
        <% else %>
        <div class="div_published_false"><span class="span_published_false">Sorry,the boxer has a stomach ache</span></div>
        <% end %>
      <% end %>
    </div>
    </div>
</article>
