<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 1000,
      values: [ 75, 300 ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      }
    });
    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range" ).slider( "values", 1 ) );
  } );
  </script>
  </head>
  <body>
    <h1 class="product_title">Boxers</h1>
    <div class="row main">
      <div class="col-md-2 table_category">
        <h3>Categories</h3>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td><%= link_to "Champion", root_path %></td>
            </tr>
            <tr>
              <td><%= link_to "Undefeated", root_path %></td>
            </tr>
            <tr>
              <td><%= link_to "Prospect", root_path %></td>
            </tr>
            <tr>
              <td><%= link_to "Absolute champion", root_path %></td>
            </tr>
            <tr>
              <td><%= link_to "Debutant", root_path %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-10 row product_grid", style="max-width: 1000px">
        <%= render @products %>
      </div>
    </div>
    <%# will_paginate @products  %>
    <p>
  <label for="amount">Price range:</label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>

<div id="slider-range"></div>
 <br>
  </body>
</html>
