<h1>Products</h1>

  <div class="col-md-2 table_category">
    <h3>Categories</h3>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td><%= link_to "Category", root_path %></td>
        </tr>
        <tr>
          <td><%= link_to "Category", root_path %></td>
        </tr>
        <tr>
          <td><%= link_to "Category", root_path %></td>
        </tr>
        <tr>
          <td><%= link_to "Category", root_path %></td>
        </tr>
        <tr>
          <td><%= link_to "Category", root_path %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <%= render @products %>
