<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= image_tag ("gloves.png"), class: 'logo' %>
      <%= link_to "Home", root_path, class: 'navbar-brand' %>
      <%= link_to "Payment", payment_path, class: 'navbar-brand' %>
      <%= link_to "Delivery", delivery_path, class: 'navbar-brand' %>
      <%= link_to "Info", info_path, class: 'navbar-brand' %>
      <%= link_to "New item", new_product_path, class: 'navbar-brand' %>
        <!-- <form class="form-inline my-2 my-lg-0 search_form">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    <div class="row">
      <%= form_tag products_path, method: :get, class: "form-inline my-2 my-lg-0 search_form", id: "search-form" do %>
        <%= text_field_tag(
            :search,
            params[:search],
            placeholder: "Search",
            class: "form-control mr-sm-2"
        ) %>
        <%= submit_tag "Search", class: 'btn btn-outline-success my-2 my-sm-0' %>
      <% end %>
    </div>
        <table class="table_contact">
          <tr>
            <th>+380961843222</th>
          </tr>
          <tr>
            <th>boxing@gmail.com</th>
          </tr>
    </table>
    </nav>

    <%= yield %>
  </body>
</html>
